<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Reto 2 - BootCamp</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<header th:insert="fragments/header :: menu-principal"> </header>
	<br>
	<br>
	<div class="container">
		<a th:href="@{/escuelas/crear}" class="btn btn-primary">Crea nueva Escuela</a>
		<br />
		<br />
		<div class="card">
			<div class="card-header">
				<h3>Listado de Escuelas</h3>
			</div>
			<div class="card-body">
<!-- 			<h4>Listado de Escuelas</h4> -->
				<div class="form-group">
					<h6>Generar reporte:</h6><br/>
					<form action="http://localhost:8080/api/reporte" method="GET" target="_blank">
						<div class="d-flex justify-content-around align-items-center">
							<div>
								<label for="">Fecha Inicio</label>
								<input type="date" class="form-control" name="fechaInicio" id="fechaInicio"/>
							</div>
							<div>
								<label for="">Fecha Fin</label>
								<input type="date" class="form-control" name="fechaFin" id="fechaFin"/>
							</div>
							<div>
								<input type="submit" class="btn btn-success" value="Generar Reporte"/>
							</div>						
						</div>
					</form>		
				</div><br>
				<div style="overflow-x: auto;">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nombre</th>
								<th scope="col">Cantidad</th>
								<th scope="col">Recurso fiscal</th>
								<th scope="col">Licencia</th>
								<th scope="col">Clasificacion</th>
								<th scope="col">Facultad</th>
								<th scope="col">Fecha Registro</th>
								<th scope="col" colspan="2">Acciones</th>				
							</tr>
						</thead>
						<tbody>
							<tr th:if="${escuelas.size() == 0}">
								<td colspan="8" style="text-align: center;">
									<strong>No hay Datos disponibles</strong>
								</td>
							</tr>
							<tr th:unless="${escuelas.size() == 0}" th:each="escuela : ${escuelas}">
								<th scope="row" th:text=${escuela.idescuela}>1</th>
								<td th:text=${escuela.nombre}>Mark</td>
								<td th:text=${escuela.cantalumnos}>Otto</td>
								<td th:text=${escuela.recursofiscal}>Otto</td>
								
								<td>
									<span th:if="${(escuela.licenciada == true) or (escuela.licenciada == 1)}" class="badge badge-success">SI</span>
									<span th:unless="${(escuela.licenciada == true) or (escuela.licenciada == 1)}" class="badge badge-danger">NO</span>
								</td>
								
								<td th:text=${escuela.calificacion}>Otto</td>
								<td th:text=${escuela.facultad.descfacultad}>Otto</td>
								
								<td th:text="${#dates.format(escuela.fecharegistro, 'dd-MM-yyyy')}">Otto</td>
								<td>
									<a th:href="@{/escuelas/editar/{id} (id=${escuela.idescuela}) }">Editar</a>
								</td>
								<td>
									<a th:href="@{/escuelas/eliminar/{id} (id=${escuela.idescuela}) }" onclick="return confirm('Estas seguro?')">Eliminar</a>
								</td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
			<div class="card-footer"></div>
		</div>
	</div>
</body>
</html>